{% extends 'sazhenci/index.html' %}
{% load static %}

{% block content %}
<div id="dostavka">
    <div class="dostavka_1">
        <img src="{% static 'sazhenci/images/bbr.jpg'%}">
        <div class="dost"><h1>boxberry</h1>
            <p>
                <li>Более 20-ти лет на рынке доставки</li>
                <li>Вам не придется стоять в долгих очередях</li>
                <li>В среднем срок доставки около 4х дней</li>
                <li>Минимальные утери заказов (около 0.03%)</li>
                <li>Удобный график работы, не только в будни но и в выходные дни!</li>
            </p>
        </div>
    </div>
    <div class="dostavka_2">
        <img src="{% static 'sazhenci/images/pr.jpg'%}">
        <div class="dost"><h1>ПочтаРоссии</h1>
            <p>
                <li>Самый экономичный способ доставки практически в любой населенный пункт</li>
                <li>Стоимость доставки зависит от размера посылки</li>
                <li>В среднем доставка до пяти дней</li>
                <li>Оплата в  отделении. При оплате в отделении наложенным платежом дополнительно оплачивается страховой сбор в размере 4% от суммы заказа</li>
            </p>
        </div>
    </div>
    <div class="dostavka_3">
        <img src="{% static 'sazhenci/images/cdek.png'%}">
        <div class="dost"><h1>CDEK</h1>
            <p>
                <li>«Бесконтактная доставка»: курьер компании «СДЭК» доставит посылку до двери</li>
                <li>Доставка до четырех дней</li>
                <li>Оплата принимается удобным способом: до или после получения посылки, картой или наличными</li>
            </p>
        </div>
    </div>
</div>
{% endblock %}